#output-column-wrapper {
    overflow: hidden;
    display: inline-block;
}

.panel-header {
    background-color: #F4F4F4;
    border-radius: 2px 2px 0 0;
    border-bottom: 2px solid #DBDBDB;
    padding: 10px 20px 10px 20px;
    margin-top: 5px;
    box-sizing: border-box;
}

.panel-title {
    color: #6e6e74;
    font-size: 1.5em;
}

#output-column-body {
    border: #F4F4F4 solid 3px;
    border-radius: 5px;
    width: 60vw;
    height: 90vh;
    overflow: auto;
    background-color: #E8E9E9;
}

.output-svg-wrapper {
    width: 95%;
    height: 300px;
    width: 740px;
    box-shadow: 5px 5px 5px #999;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.output-table-wrapper {
    width: 740px;
    height: 300px;
    overflow: auto;
    box-shadow: 5px 5px 5px #999;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    text-align: center;
    background-color: white;
}

.panel-title-table {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: white;
    background-color: #4B5354;
    width: 740px;
    margin-left: 10px;
    border-radius: 5px 5px 0 0;
}

.card {
    box-shadow: 5px 5px 5px #999;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    width: 740px;
}

.bar {
    fill: #395D7F;

}

.bar:hover {
    fill: #010B26;

}

.axis--x path {
    display: none;
}

.barRasmCasm:hover {
    opacity: 0.6;
}

.d3-barChart {
    background-color: white;
    box-shadow: 5px 5px 5px #999;
    border-radius: 0px 0px 10px 10px;
}
